body {
  background-image: url(assets/bg8.jpg);
  background-position:  right bottom;
  background-repeat: no-repeat no-repeat;
  background-size: 100% 100%;
  padding: 15px;
  background-blend-mode: hard-light;
}
html, body {
  height: 100%;
}
h1 {text-align: center;
color:red}
* {
  box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.header {
  padding: 26px;
    text-align: center;
}
.footer {
   position: fixed;
   left: 65%;
   bottom: 0;
   width: 25%;
   text-align: center;
       padding: 5%;
}
.button{
  font-size: 40px;
    color: #143A65;
    background-color: #99D9EA;
    cursor: pointer;
    border-color: #99D9EA;
    border-radius: 6px;
}
.section{

}
#usedListSection{
}
#usedListSection p, #availableListSection p {border-left-style: double;
  word-break: break-all;
padding: 4px;}

.bkgrnd{
  background-color: chartreuse;
    opacity: 0.799;
    font-weight: bold;
    height: 62%;
overflow-y: auto;
}
.bkgrnd2{
  background-color: #99D9EA;
    opacity: 0.799;
    font-weight: bold;
    height: 62%;
overflow-y: auto;
}
.stickyLabel{
  position: sticky;
    z-index: 100;
    top: 0;
    background-color: yellow;
    opacity: 1;
    text-align: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
